@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAeropuertoModel
@{
}
 
<h1>Listado de Aeropuertos</h1>
<table class="table">
    @foreach (var aeropuerto in Model.Aeropuertos)
    {
        <tr>
            <td>@aeropuerto.id</td>
            <td>@aeropuerto.nombre</td>
            <td>@aeropuerto.ciudad</td>
            <td>@aeropuerto.pais</td>
            <td>@aeropuerto.coord_x</td>
            <td>@aeropuerto.coord_y</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-aeropuertoId="@aeropuerto.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-aeropuertoId="@aeropuerto.id">Editar</a>
              <form method="POST">
            <input type="number" class="d-none" id="id" asp-for="@aeropuerto.id">
              <button type="submit"class="btn btn-danger">Eliminar</button>
            </form>
              </td>
        </tr>
    }
</table>